<header>
  <div class="container">
    <md-toolbar>
      <a md-raised-button
         [routerLink]="['/']"
         [routerLinkActive]="['active']"
         [routerLinkActiveOptions]="{exact: true}"
         class="home">
        Home
      </a>
      <a md-raised-button
         href="user//auth/facebook"
         [routerLinkActive]="['active']"
         [routerLinkActiveOptions]="{exact: true}"
         class="login">
        {{ loginBtn }}
      </a>
      <a md-raised-button
         [routerLink]="['/register']"
         [routerLinkActive]="['active']"
         [routerLinkActiveOptions]="{exact: true}"
         class="register">
        {{ registerBtn }}
      </a>
    </md-toolbar>
  </div>
</header>
